body{
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 1000vh;
  min-height: 97.6vh;
  display: flex;
  justify-content: center;
  color: #fff;
}
